<div class="has-slider">
  <div class="slider" id="slider" (pan)="onPan($event)" #slider>
    <div
      class="slider-panel"
      [style.background-color]="'#faaf34'"
      [style.background-image]="
        'url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/40288/65d721_4dfa47a05152487fb3bc45ca2ec8fd1e.png)'
      "
    ></div>
    <div
      class="slider-panel"
      [style.background-color]="'#aca680'"
      [style.background-image]="
        'url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/40288/65d721_761db9a0c113407f924a824ed173ed26.png)'
      "
    ></div>
    <div
      class="slider-panel"
      [style.background-color]="'#d8daa6'"
      [style.background-image]="
        'url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/40288/tumblr_njkn6kp0kE1qgsw73o1_500.png)'
      "
    ></div>
    <div
      class="slider-panel"
      [style.background-color]="'#faaf34'"
      [style.background-image]="
        'url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/40288/65d721_761db9a0c113407f924a824ed173ed26.png)'
      "
    ></div>
  </div>
</div>
